.btn {
    cursor: pointer;
    display: inline-flex;
    min-height: rem(50);
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        height: rem(3);
        width: 100%;
        left: 0;
    }
    &::before {
        top: 0;
        background-color: #c3a774;
    }
    &::after {
        bottom: 0;
        background-color: #8f6630;
    }
    &__body {
        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: rem(3);
            height: 100%;
            background-image: linear-gradient(to top, #8f6630, #c3a774);
        }
        &:before {
            left: 0;
        }
        &::after {
            right: 0;
        }
        span {
            min-height: rem(50);
            color: #fff;
            font-size: rem(15);
            font-family: "PFDin";
            letter-spacing: rem(2);
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px rem(50);
            position: relative;
            &::after {
                content: "";
                height: rem(50);
                transition: all 0.6s ease 0s;
                opacity: 0.1;
                background-image: linear-gradient(to top, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }
    }
    &_big {
        .btn__body {
            width: 100%;
        }
        .btn__body span {
            color: black;
            font-weight: 500;
            letter-spacing: 0;
            font-size: rem(21);
            padding: 0px rem(10);
        }
    }

    @media (any-hover: hover) {
        &:hover {
            .btn__body {
                span {
                    &::after {
                        content: "";
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}
