//<ОСНОВНОЙ БЛОК>====================================================================================================
.title {
    text-align: center;
    &__item {
        font-family: "Ceremonious";
        font-size: rem(40);
        line-height: math.div(25, 40);
        color: $primary;
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    &__main {
        font-family: "PFDin";
        @include adaptiveValue("font-size", 35, 30, 970, 767.98, 1);
        line-height: math.div(35, 35);
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-weight: 500;
        color: $black;
        margin-bottom: rem(20);
        &_w {
            color: $white;
        }
        &_regular {
            font-weight: 400;
        }
    }
}
//========================================================================================================================================================

.header-block {
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__decor {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 40, 10);
    }

    &__item {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            height: rem(1);
            flex: 1 1 auto;
            background-color: $primary;
        }
        &::after {
            content: "";
            height: calc(rem(25) * 0.72);
            transform: rotate(-45deg);
            flex: 0 0 calc(rem(25) * 0.72);
            border: rem(1) solid $primary;
            margin: 0px rem(5);
        }
        span {
            display: flex;
            align-items: center;
            margin: 0px rem(5);
            &::before {
                content: "";
                height: rem(10);
                width: rem(10);
                flex: 0 0 rem(10);
                margin: 0px rem(7);
                border-radius: 50%;
                border: rem(1) solid $primary;
            }
            &::after {
                content: "";
                height: calc(rem(15) * 0.72);
                width: calc(rem(15) * 0.72);
                flex: 0 0 calc(rem(15) * 0.72);
                transform: rotate(-45deg);
                border: rem(1) solid $primary;
            }
        }
        &:last-child {
            flex-direction: row-reverse;
            span {
                flex-direction: row-reverse;
            }
        }
    }
    &__icon {
        text-align: center;
        flex: 0 0 rem(50);
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.title-info {
    display: flex;
    align-items: center;
    font-family: PFDin;
    font-size: rem(35);
    line-height: math.div(35, 25);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $black;
    @include adaptiveValue("margin-bottom", 30, 15, 970, 767.98, 1);
    span {
        &:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: rem(18);
        }
    }
}
