.footer {
    padding: 50px 0px 50px 0px;
    background-color: #1c242a;
    @media (max-width: 767px) {
        padding: 30px 0px 30px 0px;
    }
    &__content {
        display: flex;
        @media (max-width: 767px) {
            display: block;
            text-align: center;
        }
    }

    &__column {
        &_full {
            flex: 1 1 auto;
            display: flex;
            flex-wrap: wrap;
        }
        &:first-child {
            flex: 0 0 180px;
        }
    }

    &__logo {
        display: inline-block;
        margin: 0px 0px 20px 0px;
        @media (max-width: 767px) {
            margin: 0px 0px 10px 0px;
        }
    }

    &__info {
        color: #bb9c66;
        white-space: nowrap;
        &:hover {
            border-bottom: 1px dashed #bb9c66;
        }
        @media (max-width: 767px) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__menu {
        padding: 0px 30px;
        @media (max-width: 992px) {
            padding: 0px 20px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 8px 15px 7px 0px;
            @media (max-width: 767px) {
                margin: 5px 12px 7px 0px;
            }
        }
        @media (max-width: 767px) {
            justify-content: center;
            margin: 0px 0px 10px 0px;
        }
    }

    &__link {
        font-family: PFDin;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #ffffff;
        &:hover {
            text-decoration: underline;
        }
    }

    &__contacts {
        margin: 4px 0px 0px 0px;
        text-align: right;
        @media (max-width: 767px) {
            text-align: center;
        }
    }

    &__phone {
        white-space: nowrap;
        display: flex;
        align-items: flex-start;
        margin: 0px 0px 5px 0px;
        font-family: Bravo;
        font-size: 50px;
        text-transform: uppercase;
        color: #bb9c66;
        small {
            margin: 0px 5px 0px 0px;
            font-size: 25px;
        }
        @media (max-width: 992px) {
            font-size: 40px;
            small {
                font-size: 20px;
            }
        }
        @media (max-width: 767px) {
            justify-content: center;
        }
    }

    &__callback {
        // background: url("../img/footer/02.png") left no-repeat;
        padding: 0px 0px 0px 12px;
        color: #bb9c66;
        span {
            @media (min-width: 992px) {
                &:hover {
                    border-bottom: 1px dashed;
                }
            }
        }
    }
}
