.footer {
    padding: rem(50) 0;
    background-color: #1c242a;
    @media (max-width: $mobile) {
        padding: rem(30) 0;
    }
    &__container {
        display: flex;
        @include adaptiveValue("gap", 30, 20, 970, 767.98, 1);
        @media (max-width: $mobile) {
            display: block;
            text-align: center;
        }
    }

    &__column {
        &_full {
            flex: 1 1 auto;
            display: flex;
            flex-wrap: wrap;
        }
        &:first-child {
            flex: 0 0 rem(180);
        }
    }

    &__logo {
        display: inline-flex;
        @include adaptiveValue("margin-bottom", 20, 10, 970, 767.98, 1);
        img {
            max-width: 100%;
        }
    }

    &__info {
        color: $primary;
        white-space: nowrap;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: rem(-3);
            left: 0;
            opacity: 0;
            border-bottom: rem(1) dashed $primary;
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(25);
        }
    }

    &__menu {
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: rem(20);
        row-gap: rem(15);
        @media (max-width: $mobile) {
            justify-content: center;
            margin-bottom: rem(20);
            row-gap: rem(20);
        }
    }

    &__item {
    }

    &__link {
        font-family: PFDin;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $white;
        transition: all 0.3s ease 0s;
        &:hover {
            color: $primary;
        }
    }

    &__contacts {
        margin-top: rem(4);
        text-align: right;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__phone {
        white-space: nowrap;
        display: flex;
        align-items: flex-start;
        margin-bottom: rem(5);
        font-family: Bravo;
        @include adaptiveValue("font-size", 50, 40, 970, 767.98, 1);
        text-transform: uppercase;
        color: $primary;
        small {
            margin-right: rem(5);
            @include adaptiveValue("font-size", 25, 20, 970, 767.98, 1);
        }
        @media (max-width: $mobile) {
            justify-content: center;
        }
    }

    &__callback {
        color: $primary;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: rem(-3);
            left: 0;
            opacity: 0;
            border-bottom: rem(1) dashed $primary;
            transition: all 0.3s ease 0s;
        }
        span {
            margin-right: rem(5);
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
