.main-slider {
    position: relative;
    &__swiper {
    }

    &__item {
    }

    &__control {
        position: absolute;
        width: rem(70);
        height: rem(70);
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
            content: "";
            background-color: $white;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: rotate(-45deg);
        }
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.item-main-slider {
    position: relative;
    padding: rem(50) 0px rem(100) 0px;
    text-align: center;
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title {
    }
    &__text {
        font-size: rem(15);
        line-height: math.div(25, 15);
        color: $white;
        max-width: rem(700);
        margin: 0 auto;
        flex: 1 1 auto;
        margin-bottom: rem(20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 55, 30, 970, 479.98, 1);
        }
    }

    &__btn {
    }
}

.control-main-slider {
    &__arrow {
        position: relative;
        z-index: 2;
        cursor: pointer;
        &_prev {
        }

        &_next {
            transform: rotate(-180deg);
        }
    }

    &__decor {
        position: relative;
        z-index: 2;
        margin: 0px rem(12);
        &._slideChanging {
            transition: all 1s ease 0s;
            transform: rotate(360deg);
        }
    }
}

//========================================================================================================================================================

.lots {
    @include adaptiveValue("padding-top", 85, 50, 970, 479.98, 1);
    @include adaptiveValue("padding-bottom", 65, 40, 970, 479.98, 1);
    &__container {
    }

    &__header {
        margin-bottom: rem(40);
    }

    &__slider {
    }

    &__swiper {
        margin: 0px rem(-50);
        @media (max-width: $tablet) {
            margin: 0px rem(-10);
        }
        @include adaptiveValue("margin-bottom", 50, 30, 970, 767.98, 1);
    }

    &__lot {
        padding: 0px rem(50);
        @media (max-width: $tablet) {
            padding: 0px rem(10);
        }
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $mobile) {
            justify-content: space-between;
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        flex: 0 0 rem(135);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            flex: 0 0 rem(90);
        }

        span {
            @media (max-width: $mobile) {
                display: none;
            }
            flex: 0 0 rem(15);
            height: rem(15);
            margin: 0px rem(5);
            border-radius: 50%;
            border: rem(1) solid $primary;
        }
        &_prev {
        }

        &_next {
            flex-direction: row-reverse;
            transform: rotate(-180deg);
        }
    }

    &__link {
        position: relative;
        flex: 0 0 rem(100);
        height: rem(100);
        display: flex;
        @include adaptiveValue("margin-right", 20, 5, 970, 479.98, 1);
        @include adaptiveValue("margin-left", 20, 5, 970, 479.98, 1);
        justify-content: center;
        align-items: center;
        font-family: PFDin;
        @include adaptiveValue("font-size", 21, 18, 970, 767.98, 1);
        line-height: math.div(25, 21);
        font-weight: 500;
        text-transform: uppercase;
        color: $black;
        transition: all 0.3s ease 0s;
        @media (max-width: $mobile) {
            flex: 0 0 rem(90);
            height: rem(90);
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
}

.lot {
    display: flex;
    flex-direction: column;
    text-align: center;
    &__header {
        position: relative;
        text-align: center;
        margin-bottom: rem(30);
    }

    &__image-ibg {
        display: block;
        padding-bottom: 97.5%;
        border: rem(3) solid $primary;
    }

    &__timer {
    }

    &__title {
        font-family: PFDin;
        font-size: rem(21);
        line-height: math.div(25, 21);
        font-weight: 500;
        text-transform: uppercase;
        color: $black;
        flex: 1 1 auto;
        position: relative;
        z-index: 2;
        margin-bottom: em(27, 21);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }

    &__info {
    }

    &__btn {
        margin: 0px rem(25);
    }
}

.timer-lot {
    transform: translate(-50%, 50%);
    position: absolute;
    left: 50%;
    bottom: 0;
    width: rem(72);
    height: rem(72);
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding-top: rem(2);
    div {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: "";
        background-color: $white;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotate(45deg);
        top: 0;
        left: 0;
    }
    &__icon {
        margin-bottom: rem(3);
    }

    &__item {
        font-family: "PT Sans Narrow";
        font-size: rem(16);
        line-height: math.div(21, 16);
        color: $black;
        span {
            &:not(:last-child) {
                &::after {
                    content: ":";
                }
            }
        }
    }
}

.info-lot {
    display: flex;
    justify-content: center;
    margin-bottom: rem(35);
    &__stat {
        flex: 0 0 rem(50);
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__icon {
        width: calc(rem(25) * 0.72);
        height: calc(rem(25) * 0.72);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto rem(10) auto;
    }

    &__value {
        color: $black;
        border-bottom: rem(1) solid $primary;
        padding-bottom: rem(5);
    }

    &__current-bet {
        flex: 1 1 auto;
        @media (max-width: $tablet) {
            flex: 0 0 auto;
        }
    }
}

.current-bet-info-lot {
    padding: 0px rem(5);
    position: relative;
    @media (max-width: $tablet) {
        padding: 0px rem(15);
    }
    &::after {
        content: "";
        position: absolute;
        width: rem(72);
        height: rem(72);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: rem(1) solid $primary;
    }
    div {
        position: relative;
        z-index: 2;
    }
    &__label {
        margin-bottom: rem(5);
    }

    &__value {
        color: $black;
        font-family: Bravo;
        white-space: nowrap;
        @include adaptiveValue("font-size", 50, 40, 991.98, 970, 1);
    }
}

//========================================================================================================================================================

.categories {
    @include adaptiveValue("margin-bottom", 80, 40, 970, 767.98, 1);
    &__container {
        overflow: hidden;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            height: rem(37);
            background-color: $white;
            width: 100%;
            z-index: 2;
        }
    }

    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-top: rem(37);
        margin-right: rem(-50);
        @include adaptiveValue("margin-right", -50, -25, 970, 767.98, 1);
        @include adaptiveValue("margin-left", -50, -25, 970, 767.98, 1);
        @include adaptiveValue("margin-bottom", 70, 10, 970, 767.98, 1);
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: rem(-12);
            width: calc(rem(24) * 0.72);
            height: calc(rem(24) * 0.72);
            flex: 0 0 calc(rem(24) * 0.72);
            margin-top: rem(15);
            margin-left: rem(1);
            transform: translate(-50%, 0) rotate(135deg);
            border: rem(1) solid $primary;
            z-index: 3;
        }
        &::after {
            content: "";
            left: 33.333%;
            @media (max-width: $tablet) {
                left: 50%;
            }
        }
        &::before {
            content: "";
            left: 66.667%;
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    &__column {
        flex: 0 1 33.333%;
        @include adaptiveValue("padding-right", 50, 25, 970, 767.98, 1);
        @include adaptiveValue("padding-left", 50, 25, 970, 767.98, 1);
        padding-bottom: rem(25);
        margin-bottom: rem(25);
        position: relative;
        display: flex;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            background-color: $primary;
            width: rem(10);
            height: rem(10);
            flex: 0 0 rem(10);
            border-radius: 50%;
            left: 50%;
            top: rem(-30);
            transform: translate(-50%, 0px);
        }
        @media (max-width: $tablet) {
            flex: 0 1 50%;
        }
        @media (max-width: em(620)) {
            flex: 1 1 100%;
        }
    }

    &__item {
    }

    &__decor {
        position: absolute;
        top: 0;
        right: 0;
        width: rem(24);
        height: calc(100% + rem(8));
        transform: translate(50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        &::before {
            content: "";
            width: rem(1);
            flex: 1 1 auto;
            background-color: $primary;
        }
        &::after {
            content: "";
            width: calc(rem(24) * 0.72);
            height: calc(rem(24) * 0.72);
            flex: 0 0 calc(rem(24) * 0.72);
            transform: rotate(-45deg);
            border: rem(1) solid $primary;
            margin-top: rem(15);
        }

        span {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            flex-direction: column;
            &::before {
                content: "";
                background-color: $primary;
                width: rem(10);
                height: rem(10);
                flex: 0 0 rem(10);
                border-radius: 50%;
                margin: rem(20) 0;
            }
            &::after {
                content: "";
                width: rem(1);
                flex: 1 1 auto;
                background-color: $primary;
            }
        }
    }

    &__text {
        font-size: rem(15);
        line-height: math.div(25, 15);
        color: #333333;
        @media (min-width: $mobile) {
            position: relative;
            background: url("../assets/img/lots-all/bg.png") 0 0 repeat-y;
            padding: rem(10) 0px rem(20) 0px;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: -5px;
                z-index: -1;
                left: 0;
                background: url("../assets/img/lots-all/bg_head.png") 0 0 no-repeat;
            }
        }
        p {
            &:not(:last-child) {
                margin-bottom: rem(25);
            }
            @media (min-width: $mobile) {
                padding-left: rem(135);
            }
        }
    }
}

.item {
    position: relative;
    padding: rem(25) rem(20) rem(40) rem(20);
    height: rem(250);
    width: rem(250);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (any-hover: hover) {
        &:hover {
            .item__bg-ibg {
                transform: scale(1.1);
            }
        }
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        border-radius: 50%;
        overflow: hidden;
    }

    &__icon {
        position: relative;
        z-index: 2;
        margin-bottom: rem(22);
    }

    &__title {
        position: relative;
        z-index: 2;
        font-family: PFDin;
        font-size: rem(21);
        line-height: math.div(25, 21);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $white;
        flex: 1 1 auto;
        text-align: center;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
    &__decor {
        text-align: center;
        position: relative;
        z-index: 2;
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: transform 0.5s ease 0s;
    }
}

//========================================================================================================================================================

.services {
    @include adaptiveValue("padding-top", 60, 30, 970, 767.98, 1);
    @include adaptiveValue("padding-bottom", 80, 50, 970, 767.98, 1);
    background-color: #1c242a;
    &__container {
    }
    &__header {
        margin-bottom: rem(40);
    }

    &__row {
        @media (min-width: $mobile) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @include adaptiveValue("gap", 100, 30, 970, 767.98, 1);
        }
    }
    &__item {
        @media (max-width: $mobile) {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 50, 30, 767.98, 479.98, 1);
            }
        }
    }
}

.services-item {
    flex-direction: column;
    display: flex;
    text-align: center;
    height: 100%;
    @media (max-width: $mobile) {
        max-width: rem(500);
        margin: 0px auto;
    }
    &__icon {
        height: rem(205);
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("margin-bottom", 45, 10, 970, 767.98, 1);
        img {
            max-width: 100%;
        }
    }

    &__title {
        flex: 1 1 auto;
        font-family: PFDin;
        font-size: rem(21);
        line-height: math.div(25, 21);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $white;
        @include adaptiveValue("margin-bottom", 25, 10, 970, 767.98, 1);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }

    &__text {
        font-size: rem(15);
        line-height: math.div(25, 15);
        color: $primary;
        @include adaptiveValue("margin-bottom", 30, 15, 970, 767.98, 1);
    }

    &__btn {
        font-family: PFDin;
        font-size: rem(21);
        line-height: math.div(25, 21);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $white;
        position: relative;
        transition: all 0.3s ease 0s;
        span {
            background-color: #1c242a;
            position: relative;
            z-index: 3;
            padding: 0px rem(18);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
        &::after {
            content: "";
            flex: 1 1 auto;
            top: 50%;
            left: 0;
            height: rem(1);
            background-color: $primary;
            width: 100%;
            position: absolute;
            z-index: 2;
        }
    }
}

//========================================================================================================================================================

.quotes {
    @include adaptiveValue("padding-top", 65, 35, 970, 797.98, 1);
    @include adaptiveValue("padding-bottom", 70, 40, 970, 767.98, 1);
    &__container {
    }

    &__header {
        @media (max-width: em(600)) {
            margin-bottom: rem(20);
        }
    }

    &__body {
        @media (min-width: em(600)) {
            align-items: center;
            display: flex;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px rem(20);
        flex: 0 0 percent(320, 970);
        img {
            max-width: 205px;
        }
    }

    &__content {
        flex: 0 1 rem(520);
        @media (max-width: em(600)) {
            text-align: center;
        }
    }

    &__title {
        font-size: rem(25);
        line-height: math.div(30, 25);
        font-style: italic;
        color: $black;
        margin-bottom: rem(30);
    }

    &__info {
        font-size: rem(15);
        color: #1c242a;
        @media (max-width: em(600)) {
            margin-bottom: rem(20);
        }
        p {
            &:not(:last-child) {
                margin-bottom: rem(8);
            }
        }
    }
}

//========================================================================================================================================================

.info {
    @include adaptiveValue("padding-bottom", 75, 60, 970, 620, 1);
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            flex-wrap: wrap;
            @include adaptiveValue("gap", 40, 30, 970, 767.98, 1);
        }
    }

    &__column {
        &:not(:last-child) {
            flex: 0 1 calc(50% - rem(20));
            @media (max-width: $mobile) {
                @include adaptiveValue("margin-bottom", 50, 30, 970, 767.98, 1);
            }
        }
        &:last-child {
            flex: 1 1 100%;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__date {
        font-size: rem(12);
        color: $primary;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    &__label {
        display: inline-flex;
        font-size: rem(15);
        line-height: math.div(25, 15);
        font-weight: 700;
        text-decoration: underline;
        color: #333333;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }

    &__text {
        font-size: rem(15);
        line-height: math.div(25, 15);
        color: #333333;
    }

    &__title {
    }

    &__content {
    }

    &__subscribe {
    }
}

.subscribe {
    &__title {
    }

    &__body {
        @media (min-width: $mobile) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptiveValue("gap", 40, 30, 970, 767.98, 1);
        }
    }

    &__column {
    }

    &__text {
        font-size: rem(15);
        line-height: math.div(25, 15);
        color: #333333;
        @media (max-width: $mobile) {
            margin-bottom: rem(10);
        }
    }

    &__form {
    }
}

.form-subscribe {
    height: rem(50);
    border: rem(3) solid $primary;
    display: flex;
    position: relative;
    &__input {
        flex: 1 1 auto;
    }

    &__error {
        ._error & {
            position: absolute;
            bottom: rem(-25);
            left: 0;
            font-size: rem(14);
            line-height: math.div(20, 14);
            color: red;
        }
    }

    &__btn {
        position: relative;
        flex: 0 0 rem(95);
        background-color: $white;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(0px, -50%);
            left: 0;
            width: rem(1);
            height: rem(32);
            background-color: $primary;
        }
        span {
            background: url("../assets/img/news/04.png") right no-repeat;
            padding-right: rem(30);
            font-family: PFDin;
            font-size: rem(21);
            line-height: math.div(25, 21);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: #1c242a;
        }
    }
}
