.main-slider {
    position: relative;
    &__swiper {
    }

    &__item {
    }

    &__control {
        position: absolute;
        width: rem(70);
        height: rem(70);
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
            content: "";
            background-color: $white;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: rotate(-45deg);
        }
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.item-main-slider {
    position: relative;
    padding: rem(50) 0px rem(100) 0px;
    text-align: center;
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title {
    }
    &__text {
        font-size: rem(15);
        line-height: math.div(25, 15);
        color: $white;
        max-width: rem(700);
        margin: 0 auto;
        flex: 1 1 auto;
        margin-bottom: rem(20);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 55, 30, 970, 479.98, 1);
        }
    }

    &__btn {
    }
}

.control-main-slider {
    &__arrow {
        position: relative;
        z-index: 2;
        cursor: pointer;
        &_prev {
        }

        &_next {
            transform: rotate(-180deg);
        }
    }

    &__decor {
        position: relative;
        z-index: 2;
        margin: 0px rem(12);
        &._slideChanging {
            transition: all 1s ease 0s;
            transform: rotate(360deg);
        }
    }
}

//========================================================================================================================================================

.lots {
    @include adaptiveValue("padding-top", 85, 50, 970, 479.98, 1);
    @include adaptiveValue("padding-bottom", 65, 40, 970, 479.98, 1);
    &__container {
    }

    &__header {
        margin-bottom: rem(40);
    }

    &__slider {
    }

    &__swiper {
        margin: 0px rem(-50);
        @media (max-width: $tablet) {
            margin: 0px rem(-10);
        }
        @include adaptiveValue("margin-bottom", 50, 30, 970, 767.98, 1);
    }

    &__lot {
        padding: 0px rem(50);
        @media (max-width: $tablet) {
            padding: 0px rem(10);
        }
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $mobile) {
            justify-content: space-between;
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        flex: 0 0 rem(135);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            flex: 0 0 rem(90);
        }

        span {
            @media (max-width: $mobile) {
                display: none;
            }
            flex: 0 0 rem(15);
            height: rem(15);
            margin: 0px rem(5);
            border-radius: 50%;
            border: rem(1) solid $primary;
        }
        &_prev {
        }

        &_next {
            flex-direction: row-reverse;
            transform: rotate(-180deg);
        }
    }

    &__link {
        position: relative;
        flex: 0 0 rem(100);
        height: rem(100);
        display: flex;
        @include adaptiveValue("margin-right", 20, 5, 970, 479.98, 1);
        @include adaptiveValue("margin-left", 20, 5, 970, 479.98, 1);
        justify-content: center;
        align-items: center;
        font-family: PFDin;
        @include adaptiveValue("font-size", 21, 18, 970, 767.98, 1);
        line-height: math.div(25, 21);
        font-weight: 500;
        text-transform: uppercase;
        color: $black;
        transition: all 0.3s ease 0s;
        @media (max-width: $mobile) {
            flex: 0 0 rem(90);
            height: rem(90);
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
}

.lot {
    display: flex;
    flex-direction: column;
    text-align: center;
    &__header {
        position: relative;
        text-align: center;
        margin-bottom: rem(30);
    }

    &__image-ibg {
        display: block;
        padding-bottom: 97.5%;
        border: rem(3) solid $primary;
    }

    &__timer {
    }

    &__title {
        font-family: PFDin;
        font-size: rem(21);
        line-height: math.div(25, 21);
        font-weight: 500;
        text-transform: uppercase;
        color: $black;
        flex: 1 1 auto;
        position: relative;
        z-index: 2;
        margin-bottom: em(27, 21);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }

    &__info {
    }

    &__btn {
        margin: 0px rem(25);
    }
}

.timer-lot {
    transform: translate(-50%, 50%);
    position: absolute;
    left: 50%;
    bottom: 0;
    width: rem(72);
    height: rem(72);
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding-top: rem(2);
    div {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: "";
        background-color: $white;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotate(45deg);
        top: 0;
        left: 0;
    }
    &__icon {
        margin-bottom: rem(3);
    }

    &__item {
        font-family: "PT Sans Narrow";
        font-size: rem(16);
        line-height: math.div(21, 16);
        color: $black;
        span {
            &:not(:last-child) {
                &::after {
                    content: ":";
                }
            }
        }
    }
}

.info-lot {
    display: flex;
    justify-content: center;
    margin-bottom: rem(35);
    &__stat {
        flex: 0 0 rem(50);
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__icon {
        width: calc(rem(25) * 0.72);
        height: calc(rem(25) * 0.72);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto rem(10) auto;
    }

    &__value {
        color: $black;
        border-bottom: rem(1) solid $primary;
        padding-bottom: rem(5);
    }

    &__current-bet {
        flex: 1 1 auto;
        @media (max-width: $tablet) {
            flex: 0 0 auto;
        }
    }
}

.current-bet-info-lot {
    padding: 0px rem(5);
    position: relative;
    @media (max-width: $tablet) {
        padding: 0px rem(15);
    }
    &::after {
        content: "";
        position: absolute;
        width: rem(72);
        height: rem(72);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: rem(1) solid $primary;
    }
    div {
        position: relative;
        z-index: 2;
    }
    &__label {
        margin-bottom: rem(5);
    }

    &__value {
        color: $black;
        font-family: Bravo;
        white-space: nowrap;
        @include adaptiveValue("font-size", 50, 40, 991.98, 970, 1);
    }
}

//========================================================================================================================================================

.categories {
    @include adaptiveValue("margin-bottom", 80, 40, 970, 767.98, 1);
    &__container {
        overflow: hidden;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            height: rem(37);
            background-color: $white;
            width: 100%;
            z-index: 2;
        }
    }

    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-top: rem(37);
        margin-right: rem(-50);
        @include adaptiveValue("margin-right", -50, -25, 970, 767.98, 1);
        @include adaptiveValue("margin-left", -50, -25, 970, 767.98, 1);
        @include adaptiveValue("margin-bottom", 70, 10, 970, 767.98, 1);
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: rem(-12);
            width: calc(rem(24) * 0.72);
            height: calc(rem(24) * 0.72);
            flex: 0 0 calc(rem(24) * 0.72);
            margin-top: rem(15);
            margin-left: rem(1);
            transform: translate(-50%, 0) rotate(135deg);
            border: rem(1) solid $primary;
            z-index: 3;
        }
        &::after {
            content: "";
            left: 33.333%;
            @media (max-width: $tablet) {
                left: 50%;
            }
        }
        &::before {
            content: "";
            left: 66.667%;
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    &__column {
        flex: 0 1 33.333%;
        @include adaptiveValue("padding-right", 50, 25, 970, 767.98, 1);
        @include adaptiveValue("padding-left", 50, 25, 970, 767.98, 1);
        padding-bottom: rem(25);
        margin-bottom: rem(25);
        position: relative;
        display: flex;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            background-color: $primary;
            width: rem(10);
            height: rem(10);
            flex: 0 0 rem(10);
            border-radius: 50%;
            left: 50%;
            top: rem(-30);
            transform: translate(-50%, 0px);
        }
        @media (max-width: $tablet) {
            flex: 0 1 50%;
        }
        @media (max-width: em(620)) {
            flex: 1 1 100%;
        }
    }

    &__item {
    }

    &__decor {
        position: absolute;
        top: 0;
        right: 0;
        width: rem(24);
        height: calc(100% + rem(8));
        transform: translate(50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        &::before {
            content: "";
            width: rem(1);
            flex: 1 1 auto;
            background-color: $primary;
        }
        &::after {
            content: "";
            width: calc(rem(24) * 0.72);
            height: calc(rem(24) * 0.72);
            flex: 0 0 calc(rem(24) * 0.72);
            transform: rotate(-45deg);
            border: rem(1) solid $primary;
            margin-top: rem(15);
        }

        span {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            flex-direction: column;
            &::before {
                content: "";
                background-color: $primary;
                width: rem(10);
                height: rem(10);
                flex: 0 0 rem(10);
                border-radius: 50%;
                margin: rem(20) 0;
            }
            &::after {
                content: "";
                width: rem(1);
                flex: 1 1 auto;
                background-color: $primary;
            }
        }
    }

    &__text {
        font-size: rem(15);
        line-height: math.div(25, 15);
        color: #333333;
        @media (min-width: $mobile) {
            position: relative;
            background: url("../assets/img/lots-all/bg.png") 0 0 repeat-y;
            padding: rem(10) 0px rem(20) 0px;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: -5px;
                z-index: -1;
                left: 0;
                background: url("../assets/img/lots-all/bg_head.png") 0 0 no-repeat;
            }
        }
        p {
            &:not(:last-child) {
                margin-bottom: rem(25);
            }
            @media (min-width: $mobile) {
                padding-left: rem(135);
            }
        }
    }
}

.item {
    position: relative;
    padding: rem(25) rem(20) rem(40) rem(20);
    height: rem(250);
    width: rem(250);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (any-hover: hover) {
        &:hover {
            .item__bg-ibg {
                transform: scale(1.1);
            }
        }
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        border-radius: 50%;
        overflow: hidden;
    }

    &__icon {
        position: relative;
        z-index: 2;
        margin-bottom: rem(22);
    }

    &__title {
        position: relative;
        z-index: 2;
        font-family: PFDin;
        font-size: rem(21);
        line-height: math.div(25, 21);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $white;
        flex: 1 1 auto;
        text-align: center;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary;
            }
        }
    }
    &__decor {
        text-align: center;
        position: relative;
        z-index: 2;
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: transform 0.5s ease 0s;
    }
}

//========================================================================================================================================================

.services {
    padding: 60px 0px 50px 0px;
    background-color: #1c242a;
    @media (max-width: 630px) {
        padding: 30px 0px 20px 0px;
    }

    &__header {
        margin: 0px 0px 40px 0px;
        @media (max-width: 630px) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__row {
        flex-wrap: wrap;
        margin: 0px -45px;
        display: flex;
        justify-content: center;
    }

    &__column {
        padding: 0px 45px;
        flex: 0 1 33.333%;
        margin: 0px 0px 50px 0px;
        @media (max-width: 980px) {
            flex: 0 1 50%;
        }
        @media (max-width: 630px) {
            flex: 1 1 auto;
            margin: 0px 0px 30px 0px;
        }
    }
}

//========================================================================================================================================================

.quotes {
    padding: 65px 0px 70px 0px;
    @media (max-width: 767px) {
        padding: 35px 0px 40px 0px;
    }
    &__header {
        @media (max-width: 570px) {
            margin: 0px 0px 20px 0px;
        }
    }
}

.slider-quotes {
    &__slide {
        align-items: center;
        display: flex;
        @media (max-width: 570px) {
            display: block;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px 0px 20px;
        flex: 0 0 320px/950px * 100%;
        img {
            max-width: 205px;
        }
    }
    &__content {
        flex: 0 1 515px;
        @media (max-width: 570px) {
            text-align: center;
        }
    }

    &__title {
        font-size: 25px;
        line-height: calc(30 / 25);
        font-style: italic;
        color: $black;
        margin: 0px 0px 30px/25px * 1em 0px;
    }

    &__info {
        font-size: 15px;
        color: #1c242a;
        p {
            margin: 0px 0px 7px 0px;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
        @media (max-width: 570px) {
            margin: 0px 0px 20px 0px;
        }
    }
}
.control-slider-quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    &__decor {
        flex: 0 1 33.333%;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            flex: 1 1 auto;
            height: 1px;
            background-color: $primary;
        }
        &::after {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $primary;
            margin: 0px 0px 0px 5px;
        }
        &:last-child {
            flex-direction: row-reverse;
            &::after {
                margin: 0px 5px 0px 0px;
            }
        }
    }

    &__link {
        text-align: center;
        flex: 0 1 33.333%;
        cursor: pointer;
        border-radius: 50%;
    }
}

//========================================================================================================================================================

.info {
    padding: 0px 0px 75px 0px;
    @media (max-width: 570px) {
        padding: 0px 0px 60px 0px;
    }
    &__container {
    }

    &__row {
        display: flex;
        margin: 0px -22px;
        flex-wrap: wrap;
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 0px 22px;
        margin: 0px 0px 40px 0px;
        &:last-child {
            margin: 0px 0px 0px 0px;
            flex: 1 1 auto;
        }
        @media (max-width: 767px) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__block {
    }

    &__title {
    }

    &__content {
    }

    &__item {
        margin: 0px 0px 30px 0px;
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
        @media (max-width: 767px) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__date {
        font-size: 12px;
        color: $primary;
        margin: 0px 0px 5px 0px;
    }

    &__label {
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
        line-height: calc(25 / 15);
        text-decoration: underline;
        color: #333333;
    }

    &__text {
        font-size: 15px;
        line-height: calc(25 / 15);
        color: #333333;
    }

    &__title {
    }

    &__subscribe {
    }
}
.title-info {
    display: flex;
    align-items: center;
    font-family: PFDin;
    font-size: 35px;
    line-height: calc(35 / 25);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $black;
    margin: 0px 0px 30px 0px;
    @media (max-width: 767px) {
        margin: 0px 0px 15px 0px;
    }
    span {
        &:first-child {
            margin: 0px 18px 0px 0px;
            picture {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.subscribe {
    &__title {
    }

    &__body {
        display: flex;
        margin: 0px -22px;
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 0px 22px;
    }

    &__text {
        font-size: 15px;
        line-height: calc(25 / 15);
        color: #333333;
        @media (max-width: 767px) {
            margin: 0px 0px 10px 0px;
        }
    }

    &__form {
    }
}
.form-subscribe {
    height: 50px;
    border: 3px solid $primary;
    display: flex;
    &__input {
        flex: 1 1 auto;
    }

    &__btn {
        position: relative;
        flex: 0 0 95px;
        background-color: $white;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate(0px, -50%);
            left: 0;
            width: 1px;
            height: 32px;
            background-color: $primary;
        }
        span {
            // background: url("../img/news/04.png") right no-repeat;
            padding: 0px 30px 0px 0px;
            font-family: PFDin;
            font-size: 21px;
            line-height: calc(25 / 21);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: #1c242a;
        }
    }
}
